.navbar {
	margin-bottom: 0;

	border-bottom: 4px solid #822020;

	background-color: #222;
	background-image: none;
}

p {
	font-size: 20px;
	font-weight: 300;
}

#logo-text {
	color: #DDD;
	font-weight: bold;
	webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

#logo-text:hover {
	color: #FFF;
}

.btn {
	background-color: #aaa;
}

a:hover {
	text-decoration: none;
}

.page-header{
	border-bottom:none;
	margin-bottom: 50px;
}

#about-jumbotron{
	background-image: url("../img/yuhua/p3.JPG");
	background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 970px) {
	#about-jumbotron {
		background-size: auto 100%;
	}
	#scholarship-jumbotron {
		background-size: auto 100%;
	}
}

#scholarship-jumbotron {
	background-image: url("../img/scholarship.jpg");
	background-repeat: no-repeat;
    background-position: center;
}

.jumbotron{
	background-size: 100%;
	background-color: #EEE;
}

.jumbotron > .container {
	max-width: 600px;
	background-color: white;
	padding: 50px;
	border-radius: 2px;
	opacity: 0.90;
}

.jumbotron > .container > h1 {
	font-size: 3em;
	padding-bottom: 0.6em;
	margin-bottom: 0.8em;
	border-bottom: 3px solid #822020;
	text-align: center;
	color: #444;
}

.jumbotron > .container > p {
	text-align: center;
	font-size: 1.5em;
}

@font-face{
	font-family: Optima;
    src: url(../fonts/optima.ttf);
}

h1{
	font-family: Optima, Arial;
}