.navbar {
	margin-bottom: 0;

	background-color: #222;
	background-image: none;
}

p {
	font-size: 20px;
	font-weight: 300;
}

#logo-text {
	font-weight: bold;
	webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

#logo-text:hover {
	color: #FF2A21;
}

.btn {
	background-color: #aaa;
}

a:hover {
	text-decoration: none;
}

@font-face{
	font-family: Optima;
    src: url(fonts/optima.ttf);
}

h1{
	font-family: Optima, Arial;
}